.MenuTop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #F6F6F6;
    padding-bottom: 45px;





    h1 {

        width: 73%;
        font-size: 24px;
        display: flex;
        text-align: center;
        margin-top: 30px;

    }

    p {

        width: 84%;
        font-size: 16px;
        text-align: center;

    }

    button {

        border: 1px solid;
        width: 58%;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
        color: white;
        font-size: 16px;
        align-self: center;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    button:hover {
        background-color: #2980b9;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        filter: brightness(1.1);
    }
}

@media screen and (min-width: 1024px) {
    .MenuTop {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        h1 {
            display: flex;
            width: auto;
            justify-content: center;
            text-align: center;


        }

        p {
            width: auto;
            display: flex;
            justify-content: center;
            text-align: center;


        }

        button {
            width: 218px;

        }


    }
}